.lk-chat-messages {
    display: flex;
    flex-direction: column;
}

.lk-chat-entry {
    max-width: 70%;
    margin-bottom: 10px;
    align-self: flex-start;
}

.lk-chat-entry-self {
    align-self: flex-end;
}

.lk-chat-entry-metadata {
    font-size: 0.8em;
    color: white;
    margin-bottom: 2px;
}

.lk-chat-entry-bubble {
    background-color: #282929;
    border-radius: 18px;
    padding: 8px 12px;
    display: inline-block;
}

.lk-chat-entry-self .lk-chat-entry-bubble {
    background-color: #0084ff;
    color: white;
}