.clockContainer {
    width: 200px;
    height: 70px;



}
.clockBox {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}
.clock {
    height: 50%;
    width: 100%;
    align-items: center;
}

.wrapper {
    text-align: center;
    display: flex;
    align-items: baseline;  /* 시간과 오전/오후 표시가 균일하게 정렬되도록 */
    justify-content: center;

}

#time {
    font-size: 30px;  /* 시간을 더욱 크게 표시 */
    display: inline-block;
    color: white;  /* 주황색 강조 */
    font-weight: bold;
    align-items: center;
}

#day {
    font-size: 15px;  /* 날짜 텍스트를 약간 키움 */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;  /* 주황색 강조 */

}

#midday {
    display: inline-block;
    font-size: 20px;  /* AM/PM 표시를 조금 더 크게 */
    color: white;  /* 주황색 강조 */
    margin-left: 4px;  /* 시간과 AM/PM 사이에 약간의 간격 추가 */
}

.buttonbox {
    align-items: center;
    display: flex;
    height: 35%;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: white;
    border-radius: 8px;
    color: #FFA800;
    width: 40%;
    height: 100%;
    font-weight: bold;
    font-size: 17px;

}
