.weather-widget {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.weather-header {
    font-size: 20px;
    margin-bottom: 20px;
}

.forecast {
    display: flex;
    overflow-x: auto; /* 가로 스크롤 가능하도록 설정 */
    overflow-y: hidden; /* 세로 스크롤 숨기기 */
    white-space: nowrap; /* 항목들을 가로로 나열 */
    gap: 10px; /* 각 날씨 항목 사이의 간격 */
    padding: 10px 0; /* 상하 패딩 추가 */
    scroll-snap-type: x mandatory; /* 스크롤 스냅 기능 활성화 */
}

.forecast-day {
    box-sizing: border-box;
    display: inline-block; /* 인라인 블록으로 설정하여 가로 정렬 */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    flex: 0 0 auto; /* flex 항목이 자동으로 크기를 조절하지 않도록 설정 */
    max-width: 120px; /* 최대 너비를 설정하여 크기를 제한 */
    scroll-snap-align: start; /* 스크롤 시 항목이 시작 부분에 맞추어지도록 설정 */
}

.forecast-day.today {
    border: 3px solid #ffb121; /* 오늘의 날씨 항목에만 노란색 테두리 추가 */

    color: #FFA800;
}

.date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.temperature {
    font-size: 18px;
    margin: 8px 0;
}

.weekday {
    font-size: 14px;
    color: #666;
}

.loading-message, .error-message {
    font-size: 18px;
    color: #333;
}
