.title-cell {
    white-space: nowrap; /* 텍스트가 길어질 경우 줄바꿈을 방지 */
    overflow: hidden;    /* 넘치는 부분은 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분을 ...으로 표시 */
    max-width: 500px;
    white-space: nowrap;
}
.title-board {
    font-family: "Nanum Gothic";
    text-transform: uppercase;
    display: block;
    font-size: 33px;
    color: #241a00;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    border-radius: 20px;
    padding-left: 13px;
    width: 200px;
}

@keyframes blinkingText {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-text {
    animation: blinkingText 1s infinite;
    color: red;
}

/* 마우스 오버 시에도 깜박이는 텍스트가 유지되도록 추가 */
.blinking-text:hover {
    color: red;
    animation: blinkingText 1s infinite;
}