.tableborder tr
{
    border: 1px solid black;
}
.tableborder td
{
    border: 1px solid black;
}
input
{
    border: none;
    height: 50px;
}
button{
    border: 1px solid #dddd;
    border-radius: 4px;
    background: #fcdc83;
}
.custom-datepicker {
    cursor: pointer;
}
.custom-datepickerstart {
    cursor: pointer;
    margin-left: 180px;
}
.custom-datepickerend {
    cursor: pointer;
    padding-left: 70px;
    flex: 1;
}
.error{
    color: red;
}
/* 특정 요소 크기 고정 */
.fixed-size {
    font-size: 23px; /* 폰트 크기 고정 */
    min-width: 200px; /* 최소 너비 설정 */

}