.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

.pagination li {
    display: inline;
    padding: 5px;
    font-size: 17px;
}

.pagination li a {
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffb121;
}

.pagination li.active a {
    background-color: #ffb121;
    color: white;
    border-radius: 5px;
}