/* 예시: 더 구체적인 선택자와 !important 사용 */
.fc .fc-list-day-cushion {
    background-color: #ffb121 !important; /* colors.greenAccent[500]에 대응 */
}
.fc-list-day-cushion > .fc-list-day-text, .fc-list-day-side-text {
    text-decoration: none !important;
}

.fc .fc-toolbar-title,
.fc .fc-daygrid-day-number,
.fc .fc-timegrid-slot-label,
.fc .fc-col-header-cell-cushion {
    text-decoration: none !important;
    color: black !important; /* 텍스트 색상 검정 */
}

.fc .fc-button-active {
    border-color: #ffb121 !important;
    background-color: #ffb121 !important;
    color: #000 !important;
    font-weight: bold !important;
}

.fc .fc-daygrid-event > .fc-event-time {
    color: #000 !important;
}

.fc .fc-daygrid-dot-event > .fc-event-title {
    color: #000 !important;
}


/* 일요일 텍스트 색상 변경 */
.fc-day-sun .fc-daygrid-day-number,
.fc-day-sun a {
    color: red !important;
}

/* 토요일 텍스트 색상 변경 */
.fc-day-sat .fc-daygrid-day-number,
.fc-day-sat a {
    color: blue !important;
}